doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 #Jokowi
    div
      h2 Total Tweets:
        span#total-tweets 0
    div
      h2 Positive Tweet Counts:
        span#positive-tweets 0
    div
      h2 Negative Tweet Counts:
        span#negative-tweets 0
    div
      h2 Neutral Tweet Counts:
        span#neutral-tweets 0
        
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/socket-client.js')
